.loader-spin {
  animation: spin 1s;
  animation-iteration-count: infinite;
  margin-left: 10px;
}

@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}
