.App {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}
html {
  font-size: 10px;
}

a {
  text-decoration: none;
}
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(170, 170, 170);
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(170, 170, 170);
}

@media screen and (max-width: 500px) {
  html {
    font-size: 8px;
  }
}
